.cardrack {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	overflow: hidden;
}
@media (min-width: 400px) {
	.cardrack > figure {
		max-width: calc(50% - 2.5px);
	}
}
@media (min-width: 600px) {
	.cardrack > figure {
		max-width: calc(33.333% - 2.5px);
	}
}
@media (min-width: 800px) {
	.cardrack > figure {
		max-width: calc(25% - 2.5px);
	}
}
