.cardrack {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	overflow: hidden;
}
.cardrack > figure {
	overflow: hidden;
}
@media (min-width: 500px) {
	.cardrack > figure {
		max-width: calc(50% - 5px);
	}
}
@media (min-width: 600px) {
	.cardrack > figure {
		max-width: calc(33.333% - 5px);
	}
}
@media (min-width: 800px) {
	.cardrack {
		max-width: 800px;
		margin: 0 auto;
	}
	.cardrack > figure {
		max-width: calc(25% - 5px);
	}
}
@media (min-width: 800px) and (min-resolution: 150dpi) {
	.cardrack > figure {
		max-width: calc(50% - 5px);
	}
}
