:root {
	font-family: "Trebuchet MS", "Open Sans", sans-serif;
	font-size: 12pt;
}
* { box-sizing: border-box; }
html,body { padding: 0; margin: 0; }
a:link,a:visited {
	text-decoration: none;
	color: #0000ff;
}
a:link:hover,
a:link:active,
a:visited:hover,
a:visited:active {
	text-decoration: underline;
}

body {
	min-height: 300vh;
}

header {
	text-align: center;
	position: relative;
}
header > h1 {
}
header > nav {
	border-bottom: 1px solid transparent;
	transition: border-bottom 500ms;
	margin-bottom: 1rem;
	padding: 0.5rem 0;
}
header > nav > h1 {
	display: none;
}
header > nav.unstuck {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
header > nav.unstuck > h1 {
	opacity: 0;
}
header > nav.stuck {
	border-bottom: 1px solid black;
	background: white;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
}
header > nav.stuck > h1,
header > nav.unstuck > h1 {
	transition: opacity 500ms;
	position: absolute;
	line-height: 2rem;
	font-size: 1rem;
	display: block;
	left: 1rem;
	margin: 0;
	top: 0;
}
header > nav.stuck > h1 {
	opacity: 1;
}
header > nav > a {
	margin: 0 1rem;
}
body > div.img {
	background-image: attr(data-src);
	background-size: cover;
	height: 500px;
	width: 100%;
}
body > div.img[data-src="img/engagement.jpg"] {
	background-image: url("img/engagement.jpg");
}
body > img {
	min-height: 100px;
	max-height: 300px;
	width: 100%;
}
article {
	margin: 1rem auto;
	max-width: 800px;
}
@media (max-width: 799px) {
	article {
		padding: 0 5px;
	}
}
@media (min-width: 810px) {
	header > nav.stuck > h1 {
		left: calc(50% - 400px);
	}
}
